@charset "utf-8";
/* 値の種類は全て載せているわけではありません。
必要なコードを適宜記述しながら完成させましょう。*/
 
/* parent */
.parent{
  width: 100%;
  height: 600px;
  background-color: lightskyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 
/* child */
.child{
  width: 250px;
  height: 250px;
  background-color: orange;
  position: relative;
}
 
/* image */
.image{
  width: 70%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
}

img{
  width: 100%;
}