@charset "utf-8";
/* header */
header{
    height: 50px;
    width: 100%;
    background-color: lightblue;
}

/* zone */
.zone{
    height: 500px;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
}

/* left-zone */
.left-zone{
    height: 200px;
    width: 200px;
    background-color: orchid;
    color: blue;
}

/* center-zone */
.center-zone{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    color: brown;
}

/* right-zone */
.right-zone{
    height: 200px;
    width: 200px;
    background-color: yellow;
    color: red;
}

/* footer */
footer{
    height: 50px;
    width: 100%;
    background-color: lightblue;
}