@charset "utf-8";

/* main */
main{
    background-color: lightgray;
    width: 100%;
    height: 100%;
    font-size: 30px;
}
/* area1 */
.area1{
    background-color: lightgreen;
    color: green;
    padding: 40px;
    width: 40%;
    height: 200px;
}
/* area2 */
.area2{
    background-color: yellow;
    color: red;
    font-size: 50px;
    border: 7px solid;
    border-color: orange;
    margin: 20px 50px;
    width: 80%;
    height: 70px;
}

/* area3 */
.area3{
    background-color: skyblue;
    color: blue;
    padding: 20px 10px 60px 10px;
    margin: 100px 150px;
    width: 70%;
    height: 35%;
}